[Desktop Entry]
Name=UNIM Indicator
Name[ko]=UNIM 인디케이터
Comment=Korean Input Method tray indicator
Comment[ko]=한글 입력기 트레이 인디케이터
Exec=unim-indicator
Icon=io.github.from104.unim.Indicator
Terminal=false
Type=Application
Categories=System;Utility;
StartupWMClass=io.github.from104.unim.Indicator
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
X-GNOME-UsesNotifications=true
StartupNotify=false
NoDisplay=true
NotShowIn=GNOME;
