[Desktop Entry]
Name=UNIM Indicator
Name[ko]=UNIM 입력 표시기
Comment=Korean Input Method Status Indicator
Comment[ko]=한글 입력기 상태 표시
Exec=unim-indicator
Icon=unim-hangul
Terminal=false
Type=Application
Categories=System;Utility;
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
X-GNOME-UsesNotifications=true
StartupNotify=false
NoDisplay=true
NotShowIn=KDE;
