[Desktop Entry]
Name=UNIM Settings
Name[ko]=UNIM 설정
Comment=Korean Input Method settings — UNIM
Comment[ko]=UNIM 한글 입력기 설정
Exec=unim-settings-gtk
Icon=io.github.from104.unim.Settings
Terminal=false
Type=Application
Categories=Settings;
StartupWMClass=io.github.from104.unim.Settings
StartupNotify=false
Keywords=korean;hangul;input;ime;keyboard;unim;
NotShowIn=KDE;
