[Desktop Entry]
Name=UNIM Settings
Name[ko]=UNIM 설정
Comment=Korean Input Method settings dialog
Comment[ko]=한글 입력기 설정
Exec=unim-gui-gtk --settings
Icon=unim-korean
Terminal=false
Type=Application
Categories=Settings;System;Utility;
StartupNotify=false
